.content {
  background-image: url("./heroLali2.jpeg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* min-height: 100vh; */
  overflow-x: hidden !important;
}

.row2 {
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 140px; */
  justify-content: center;
  margin-top: 120px;
  /* gap: 50px; */
}

.left {
  max-width: 1120px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #00C1C1;
  font-weight: 500;
  font-size: 18px;
  line-height: 162%;
  margin: 0px;
  text-align: center;
}

.title.hero {
  font-size: 28px;
  text-align: center;
}

.subtitle.hero {
  font-size: 46px;
  text-align: center;
}

.text.hero {
  font-size: 21px;
  text-align: center;
}

.buttons.hero {
  justify-content: center;
}

.subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  line-height: 123%;
  margin-top: 0px;
  margin-bottom: 12px;
  text-align: center;
}

.text {
  /* color:#fff;
    line-height: 19.44px; */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 162%;
  color: #FFFFFF;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.right img {
  width: 575px;
  height: 436px;
  opacity: 1;
  transform: scaleY(1);
  transition: all 1000ms ease;
  /* padding-bottom: 50px; */
}

@media (max-width: 1245px) {
  .title {
    font-size: 16px;
  }

  .subtitle {
    font-size: 28px;
  }

  .text {
    font-size: 16px;
  }

  .title.hero {
    font-size: 22px;
  }

  .subtitle.hero {
    font-size: 42px;
  }

  .text.hero {
    font-size: 20px;
  }
}

@media (max-width: 980px) {
  .right img {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 897px) {
  .subtitle {
    font-size: 24px;
  }

  .right img {
    width: 450px;
    height: 350px;
  }

  .row2 {
    margin-top: 60px;
  }

  .title.hero {
    font-size: 20px;
  }

  .subtitle.hero {
    font-size: 42px;
  }

  .text.hero {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .row2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .left {
    max-width: 450px;
  }
}

@media (max-width: 420px) {
  .right img {
    width: 360px;
    height: 300px;
  }

  .left {
    max-width: 360px;
  }
}

/* Start Mouse Rules  */
.mouse-wheel-wrap {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.mouse-wheel {
  display: block;
  width: 17px;
  height: 25px;
  border: 1px solid #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 auto 5px;
  position: relative;
}

.mouse-wheel__inner {
  display: inline-block;
  height: 8px;
  width: 5px;
  border: 1px solid #fff;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
  top: 4px;
  transition: all .3s ease;
  animation: mouse_scroll 1.5s ease-out infinite forwards;
}

.mouse-wheel-wrap .mouse-wheel__down {
  font-size: 20px;
  color: #fff;
  transition: all .3s ease;
}

@keyFrames mouse_scroll {

  0%,
  100% {
    transform: translateY(0);
  }
}

@keyFrames mouse_scroll {
  50% {
    transform: translateY(5px);
  }
}

/* End Mouse Rules  */