.team-member-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team-card-container {
  position: relative;
  width: 250px;
  height: 386px;
}

.team-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 386px;
  background-color: #fff; /* color de fondo de la tarjeta */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* sombra de la tarjeta */
  border-radius: 24px 40px 24px 80px;
  z-index: 1;
}

.team-shadow {
  position: absolute;
  top: 10px; /* ajusta la posición vertical de la sombra */
  left: 10px; /* ajusta la posición horizontal de la sombra */
  width: 250px;
  height: 386px;
  background: linear-gradient(180deg, rgba(78, 146, 249, 0) 0%, rgba(0, 102, 255, 0.4) 100%);
  border-radius: 24px 40px 24px 80px;
  z-index: 0;
}

.team-member-name {
  padding-top: 20px;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;

  /* identical to box height */

  /* Blue gray/800 */
  color: #363F4D;
}

.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}