.learn-more {
  border: 1px solid #FFFFFF;
  border-radius: 2.83333px;
  }
  
  .learn-more a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: grid;
    place-items: center;
    transition: 0.3s;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }