.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.team-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* min-height: 100vh; */
  margin-bottom: 100px;
  /* margin-bottom: 100px; */
  padding: 30px;
  gap: 100px;
}

/* .areas-text-container.team {
  margin-bottom: 0;
} */